<a href="https://colab.research.google.com/github/21Ovi/Earthquake-Damage-Prediction/blob/main/Earthquake_Damage_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Earthquake Damage prediction
###### by Mohammad Ovesh, Kajal Gupta, Deepak Raj
###### Team ID : PTID-CDS-JUL22-1335
###### Project ID: PCRP-1015-EquakeDamagePred

Richter's Predictor: Modeling Earthquake Damage 
Hosted By DrivenData 
https://www.drivendata.org/competitions/57/nepal-earthquake/

## Overview
Based on aspects of building location and construction, your goal is to predict the level of damage to buildings caused by the 2015 Gorkha earthquake in Nepal.
 
This is an intermediate-level practice competition.
The data was collected through surveys by Kathmandu Living Labs and the Central Bureau of Statistics, which works under the National Planning Commission Secretariat of Nepal. This survey is one of the largest post-disaster datasets ever collected, containing valuable information on earthquake impacts, household conditions, and socio-economic-demographic statistics.

## Problem description
We're trying to predict the ordinal variable damage_grade, which represents a level of damage to the building that was hit by the earthquake. There are 3 grades of the damage:
*	1 represents low damage 
*	2 represents a medium amount of damage 
*	3 represents almost complete destruction 

## Features

The dataset mainly consists of information on the buildings' structure and their legal ownership. Each row in the dataset represents a specific building in the region that was hit by Gorkha earthquake.
There are 39 columns in this dataset, where the building_id column is a unique and random identifier. The remaining 38 features are described in the section below. Categorical variables have been obfuscated random lowercase ascii characters. The appearance of the same character in distinct columns does not imply the same original value.
Description
*	geo_level_1_id, geo_level_2_id, geo_level_3_id (type: int): geographic region in which building exists, from largest (level 1) to most specific sub-region (level 3). Possible values: level 1: 0-30, level 2: 0-1427, level 3: 0-12567. 
*	count_floors_pre_eq (type: int): number of floors in the building before the earthquake. 
*	age (type: int): age of the building in years. 
*	area_percentage (type: int): normalized area of the building footprint. 
*	height_percentage (type: int): normalized height of the building footprint. 
*	land_surface_condition (type: categorical): surface condition of the land where the building was built. Possible values: n, o, t. 
*	foundation_type (type: categorical): type of foundation used while building. Possible values: h, i, r, u, w. 
*	roof_type (type: categorical): type of roof used while building. Possible values: n, q, x. 
*	ground_floor_type (type: categorical): type of the ground floor. Possible values: f, m, v, x, z. 
*	other_floor_type (type: categorical): type of constructions used in higher than the ground floors (except of roof). Possible values: j, q, s, x. 
*	position (type: categorical): position of the building. Possible values: j, o, s, t. 
*	plan_configuration (type: categorical): building plan configuration. Possible values: a, c, d, f, m, n, o, q, s, u. 
*	has_superstructure_adobe_mud (type: binary): flag variable that indicates if the superstructure was made of Adobe/Mud. 
*	has_superstructure_mud_mortar_stone (type: binary): flag variable that indicates if the superstructure was made of Mud Mortar - Stone. 
*	has_superstructure_stone_flag (type: binary): flag variable that indicates if the superstructure was made of Stone. 
*	has_superstructure_cement_mortar_stone (type: binary): flag variable that indicates if the superstructure was made of Cement Mortar - Stone. 
*	has_superstructure_mud_mortar_brick (type: binary): flag variable that indicates if the superstructure was made of Mud Mortar - Brick. 
*	has_superstructure_cement_mortar_brick (type: binary): flag variable that indicates if the superstructure was made of Cement Mortar - Brick. 
*	has_superstructure_timber (type: binary): flag variable that indicates if the superstructure was made of Timber. 
*	has_superstructure_bamboo (type: binary): flag variable that indicates if the superstructure was made of Bamboo. 
*	has_superstructure_rc_non_engineered (type: binary): flag variable that indicates if the superstructure was made of non-engineered reinforced concrete. 
*	has_superstructure_rc_engineered (type: binary): flag variable that indicates if the superstructure was made of engineered reinforced concrete. 
*	has_superstructure_other (type: binary): flag variable that indicates if the superstructure was made of any other material. 
*	legal_ownership_status (type: categorical): legal ownership status of the land where building was built. Possible values: a, r, v, w. 
*	count_families (type: int): number of families that live in the building. 
*	has_secondary_use (type: binary): flag variable that indicates if the building was used for any secondary purpose. 
*	has_secondary_use_agriculture (type: binary): flag variable that indicates if the building was used for agricultural purposes. 
*	has_secondary_use_hotel (type: binary): flag variable that indicates if the building was used as a hotel. 
*	has_secondary_use_rental (type: binary): flag variable that indicates if the building was used for rental purposes. 
*	has_secondary_use_institution (type: binary): flag variable that indicates if the building was used as a location of any institution. 
*	has_secondary_use_school (type: binary): flag variable that indicates if the building was used as a school. 
*	has_secondary_use_industry (type: binary): flag variable that indicates if the building was used for industrial purposes. 
*	has_secondary_use_health_post (type: binary): flag variable that indicates if the building was used as a health post. 
*	has_secondary_use_gov_office (type: binary): flag variable that indicates if the building was used fas a government office. 
*	has_secondary_use_use_police (type: binary): flag variable that indicates if the building was used as a police station. 
*	has_secondary_use_other (type: binary): flag variable that indicates if the building was secondarily used for other purposes.

Feature data example

Here's an example of one of the rows in the dataset so that you can see the kinds of values you might expect in the dataset. Some are numeric, some are categorical, and there are often missing values. 
### field	  value
* geo_level_1_id	8
* geo_level_2_id	396
* geo_level_3_id	1108
* count_floors_pre_eq	2
* age	15
* area_percentage	4
* height_percentage	7
* land_surface_condition	t
* foundation_type	r
* roof_type	n
* ground_floor_type	v
* other_floor_type	q
* position	s
* plan_configuration	d
* has_superstructure_adobe_mud	1
* has_superstructure_mud_mortar_stone	1
* has_superstructure_stone_flag	0
* has_superstructure_cement_mortar_stone	0
* has_superstructure_mud_mortar_brick	0
* has_superstructure_cement_mortar_brick	1
* has_superstructure_timber	0
* has_superstructure_bamboo	0
* has_superstructure_rc_non_engineered	0
* has_superstructure_rc_engineered	0
* has_superstructure_other	1
* legal_ownership_status	v
* count_families	1
* has_secondary_use	0
* has_secondary_use_agriculture	0
* has_secondary_use_hotel	0
* has_secondary_use_rental	0
* has_secondary_use_institution	0
* has_secondary_use_school	0
* has_secondary_use_industry	0
* has_secondary_use_health_post	0
* has_secondary_use_gov_office	0
* has_secondary_use_use_police	0
* has_secondary_use_other	0


## Preparing the tools

we're going to use pandas, Matplotlib and numpy for data analysis and manipulation.

In [2]:
# Import all the tools we need

# Regular EDA(Exploratory data analysis) and plotting libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# we want our plots to appear inside the notebook
%matplotlib inline 

# Models from Scikit-Learn
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# Model Evaluation
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score, recall_score,f1_score
from sklearn.metrics import plot_roc_curve

In [6]:
X = pd.read_csv("https://raw.githubusercontent.com/21Ovi/DataScience-DataSets/main/PRCP-1015-EquakeDamagePred/Data/train_values.csv")
y = pd.read_csv("https://raw.githubusercontent.com/21Ovi/DataScience-DataSets/main/PRCP-1015-EquakeDamagePred/Data/train_labels.csv")                
X.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [5]:
X.head().T

                                             0      1      2       3       4
building_id                             802906  28830  94947  590882  201944
geo_level_1_id                               6      8     21      22      11
geo_level_2_id                             487    900    363     418     131
geo_level_3_id                           12198   2812   8973   10694    1488
count_floors_pre_eq                          2      2      2       2       3
age                                         30     10     10      10      30
area_percentage                              6      8      5       6       8
height_percentage                            5      7      5       5       9
land_surface_condition                       t      o      t       t       t
foundation_type                              r      r      r       r       r
roof_type                                    n      n      n       n       n
ground_floor_type                            f      x      f       f       f
other_floor_type                             q      q      x       x       x
position                                     t      s      t       s       s
plan_configuration                           d      d      d       d       d
has_superstructure_adobe_mud                 1      0      0       0       1
has_superstructure_mud_mortar_stone          1      1      1       1       0
has_superstructure_stone_flag                0      0      0       0       0
has_superstructure_cement_mortar_stone       0      0      0       0       0
has_superstructure_mud_mortar_brick          0      0      0       0       0
has_superstructure_cement_mortar_brick       0      0      0       0       0
has_superstructure_timber                    0      0      0       1       0
has_superstructure_bamboo                    0      0      0       1       0
has_superstructure_rc_non_engineered         0      0      0       0       0
has_superstructure_rc_engineered             0      0      0       0       0
has_superstructure_other                     0      0      0       0       0
legal_ownership_status                       v      v      v       v       v
count_families                               1      1      1       1       1
has_secondary_use                            0      0      0       0       0
has_secondary_use_agriculture                0      0      0       0       0
has_secondary_use_hotel                      0      0      0       0       0
has_secondary_use_rental                     0      0      0       0       0
has_secondary_use_institution                0      0      0       0       0
has_secondary_use_school                     0      0      0       0       0
has_secondary_use_industry                   0      0      0       0       0
has_secondary_use_health_post                0      0      0       0       0
has_secondary_use_gov_office                 0      0      0       0       0
has_secondary_use_use_police                 0      0      0       0       0
has_secondary_use_other                      0      0      0       0       0

## Exploratory Data Analysis

In [7]:
pip install sweetviz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 4.5 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.21.6)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (4.64.0)
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (5.7.1)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.3.5)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.4.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->sweetviz) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.4

In [ ]:
# importing sweetviz
import sweetviz as sv#analyzing the dataset
advert_report = sv.analyze(df)#display the report
advert_report.show_html('Advertising.html')

We got total 2 datasets, one is labels(y) and another is values (X), to do EDA we need to merge y into X
so....

In [20]:
merge = [X, y.drop("building_id",axis=1)]
df = pd.merge(X,y)
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3

In [12]:
X.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [18]:
y.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3